//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Main Grid Mixin
@mixin main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "h h h h"
    "m m m m"
    "f f f f";
  grid-gap: $grid-gap;
}

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//* Layout Variables
$grid-gap: 0 1rem;

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: "baskerville-poster-pt", serif;
  font-weight: 400;
  line-height: 1.5;
}

@mixin utility-font-stack {
  font-family: "calluna-sans", sans-serif;
  font-weight: 400;
}

//********** Sizing **********

//* Font sizing
$font-size-super-large: 15rem;
$font-size-extra-large: 10rem;
$font-size-large: 5rem;
$font-size-medium: 2.5rem;
$font-size-small: 1rem;

//* Heading Sizing
$h1-size: $font-size-extra-large;
$h2-size: $font-size-large;
$h3-size: 1rem;

//* Forms

$label-font-size: $font-size-medium;
$input-font-size-medium: 1.25rem;
$input-font-size-small: $font-size-small;

$letter-spacing-medium: 10px;
$letter-spacing-small: 3px;

//********** Spacing **********

$header-spacing: 5rem;
$header-spacing-large: 10rem;

$h1-spacing-large: 5rem;
$h1-spacing: 5rem;
$h2-spacing: 2.5rem;
$h3-spacing: 1rem;

//* Article Spacing
$article-spacing-extra-large: 25rem;

//* Sections

$section-spacing-extra-large: 20rem;
$section-spacing-large: 15rem;
$section-spacing-medium: 10rem;
$section-spacing-small: 5rem;

//* Paragraphs

$paragraph-spacing-extra-large: 10rem;
$paragraph-spacing-large: 3rem;
$paragraph-spacing-medium: 1rem;
$paragraph-spacing-small: 0.5rem;

//* Spacing
$input-spacing: 1rem;

//********** Links **********

//* Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//* Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $transition-one;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(800) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//*=========================================
//** Colours  **
//*=========================================

//Main brand Colours
$light-beige: rgb(233, 227, 226);
$dark-beige: rgb(195, 179, 177);
$dark-grey: rgb(47, 47, 47);
$white: rgb(255, 255, 255);

//Main Font Colours
$dark-font-colour: #2f2f2f;
$light-font-colour: #f7f7f7;
$link-colour: #3c3cf6;
$link-visited: #8608fb;

//Background Colours
$main-background-colour: $light-beige;
$accent-background-colour: $dark-beige;
$dark-background-colour: $dark-grey;
$light-background-colour: $white;
$main-background-gradient: linear-gradient(
  180deg,
  $light-beige 0%,
  $dark-beige 100%
);

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Animation Stagger **********

@mixin stagger-anim-delay($elem, $initial-delay, $stagger-delay) {
  @for $i from 1 through $elem {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

//********** Transition Timings **********

//* Times
$timing-duration-short: 0.3s;
$timing-duration-medium: 0.6s;
$timing-duration-long: 1s;

//* Timing Functions
$ease-in-one: cubic-bezier(0.25, 0.1, 0.25, 1);

$cubic-one: cubic-bezier(0.45, -0.2, 0.45, 1.2);
$cubic-two: cubic-bezier(0.13, 0.1, 0.12, 0.93);

//********** Scrollbar Mixin **********

@mixin horizontal-scrollbar {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: scale-color($dark-grey, $lightness: 10%);
    position: relative;
    bottom: 10rem;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background-color: $dark-grey;
    }
  }

  &::after,
  &::before {
    content: "";
    width: 1px;
    height: 1px;
    padding: 1px;
    margin: 1px;
  }
}

//*=========================================
//** Media Queries   **
//*=========================================

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

//* Alternative Media Queries
//TODO: You must Choose!

// @mixin breakpoint($point) {
//   @if $point == 2000 {
//     @media (max-width: 2000) {
//       @content;
//     }
//   }
// }
