//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//*=========================================
//** Typography **
//*=========================================

//********** Font Stacks **********

@mixin main-font-stack {
  font-family: 'baskerville-poster-pt', serif;
  font-weight: 400;
  line-height: 1.5;
}

@mixin utility-font-stack {
  font-family: 'calluna-sans', sans-serif;
  font-weight: 400;
}

//********** Sizing **********

//* Font sizing
$font-size-super-large: 15rem;
$font-size-extra-large: 10rem;
$font-size-larger: 8rem;
$font-size-150: 7.5rem;
$font-size-large: 5rem;
$font-size-medium-large: 4rem;
$font-size-medium: 2.5rem;
$font-size-smaller: 2rem;
$font-size-small: 1.5rem;
$font-size-smallest: 1rem;

//* Heading Sizing
$h1-size: $font-size-extra-large;
$h2-size: $font-size-extra-large;
$h2-size-medium: 8rem;
$h2-size-small: $font-size-large;
$h2-size-smaller: 3.75rem;
$h2-size-extra-small: 3rem;
$h3-size: 1rem;

//* Forms

$label-font-size: $font-size-medium;
$label-font-size-smaller: $font-size-smaller;
$input-font-size-medium: 1.25rem;
$input-font-size-small: $font-size-smallest;

$letter-spacing-medium: 10px;
$letter-spacing-small: 3px;

//********** Spacing **********

$header-spacing-extra-small: 1rem;
$header-spacing-medium: 5rem;
$header-spacing-large: 10rem;
$header-spacing-small: 2.5rem;

$heading-spacing-large: 10rem;
$heading-spacing-medium: 7.5rem;
$heading-spacing-small: 5rem;
$heading-spacing-smaller: 3.75rem;
$heading-spacing-tiny: 2.5rem;

//* Article Spacing
$article-spacing-extra-large: 25rem;

//* Sections

$section-spacing-extra-large: 20rem;
$section-spacing-large: 15rem;
$section-spacing-medium: 10rem;
$section-spacing-smaller: 7.5rem;
$section-spacing-small: 5rem;
$section-spacing-extra-small: 3.75rem;
$section-spacing-tiny: 2.5rem;

//* Paragraphs

$paragraph-spacing-extra-large: 10rem;
$paragraph-spacing-large: 3rem;
$paragraph-spacing-medium: 1rem;
$paragraph-spacing-small: 0.5rem;

//* Spacing
$input-spacing: 1rem;

//********** Links **********

//* Fancy Link Underline
@mixin link-underline($colour) {
  transition: all $timing-duration-short;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//* Fancy Link Underline With Visited styles
@mixin link-underline-visited($colour) {
  transition: all $timing-duration-short;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;

  @include breakpoint(800) {
    border-bottom: 3px solid transparent;
    text-decoration: underline;
  }

  &:hover,
  &focus {
    border-bottom: 3px solid $colour;
    padding-bottom: 0;
    margin-bottom: 5px;
    outline: 0;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }

  &:visited {
    border-bottom: 3px solid $link-visited;

    @include breakpoint(800) {
      border-bottom: 3px solid transparent;
    }
  }
}

//*=========================================
//** Colours  **
//*=========================================

//Main brand Colours
$light-beige: rgb(233, 227, 226);
$dark-beige: rgb(195, 179, 177);
$dark-grey: rgb(47, 47, 47);
$white: rgb(255, 255, 255);

//Main Font Colours
$dark-font-colour: #2f2f2f;
$light-font-colour: #f7f7f7;

//Background Colours
$main-background-colour: $light-beige;
$accent-background-colour: $dark-beige;
$dark-background-colour: $dark-grey;
$transparent-dark-background-colour: #2f2f2f52;
$light-background-colour: $white;
$main-background-gradient: linear-gradient(
  180deg,
  $light-beige 0%,
  $dark-beige 100%
);

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Transition Timings **********

//* Times
$timing-duration-short: 0.3s ease;
$timing-duration-medium: 0.6s ease;
$timing-duration-long: 1s ease;

//* Timing Functions
$ease-in-one: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-out-one: cubic-bezier(0.13, 0.25, 0.19, 1.05);
$ease-out-two: cubic-bezier(0.14, 0.53, 0.32, 1);

$cubic-one: cubic-bezier(0.45, -0.2, 0.45, 1.2);
$cubic-two: cubic-bezier(0.13, 0.1, 0.12, 0.93);

//********** Keyframes **********

//* Bounce
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2rem);
  }
}

//********** Scrollbar Mixin **********

@mixin styled-scrollbar(
  $size,
  $color,
  $background-colour,
  $track-shadow-colour
) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: scale-color($color, $lightness: 20%);
    position: relative;
    bottom: 10rem;
    border-radius: 10px;

    &:hover {
      background-color: $color;
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-colour;
    box-shadow: inset 0 0 3px $track-shadow-colour;
  }

  &::after,
  &::before {
    content: '';
    width: 1px;
    height: 1px;
    padding: 1px;
    margin: 1px;
  }
}

//*=========================================
//** Media Queries   **
//*=========================================

//********** Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}

//********** Height **********

@mixin height-breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-height: $point) {
    @content;
  }
}
