//*==============================================================================
//** About Styles **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

//* Wrapper

.about-main-content {
  @include flex(column);
}

.about-me-section-one {
  padding: 0 $section-spacing-small $section-spacing-medium;
}

.about-me-text-section-two {
  padding: 0 $section-spacing-medium;
}

//* Page title

.general-page-title {
  width: fit-content;
  background-image: url('/images/birds-background-images.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: $dark-font-colour;
  padding: $section-spacing-small 0;
  margin: $section-spacing-small auto;
}

//* Image

.about-me-image {
  float: left;
  width: 35%;
  margin-right: $section-spacing-small;

  animation: bounce 5s ease-in-out infinite alternate;
}

//* Text

.about-me-text-wrapper {
  @include main-font-stack;

  color: $dark-font-colour;
  font-size: $font-size-medium;

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//* Text fade in

.fade-in-text {
  transform: rotateX(90deg);
  opacity: 0;
  transition: all 0.6s ease-out;
}

.fade-in-reveal {
  opacity: 1;
  transform: rotateX(0);
}

//* Contact Form

.contact-form-intro-text {
  background-image: url('/images/birds-background-images.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  padding-top: $section-spacing-small;
}
