//*==============================================================================
//** About Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

//* Wrapper

.about-main-content {
  @include flex(column);
}

.about-me-section-one {
  padding: 0 $section-spacing-small $section-spacing-medium;
}

.about-me-text-section-two {
  padding: 0 $section-spacing-medium $section-spacing-medium;
}

//* Page title

.general-page-title {
  width: fit-content;
  background-image: url("/images/birds-background-images.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: $dark-font-colour;
  padding: $h2-spacing $section-spacing-small;
  margin: 0 auto $section-spacing-small;
}

//* Image

.about-me-image {
  float: left;
  width: 35%;
  margin-right: $section-spacing-small;
}

//* Text

.about-me-text-wrapper {
  @include main-font-stack;

  color: $dark-font-colour;
  font-size: $font-size-medium;

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
