//*==============================================================================
//** Commercial Work Page Styles **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.commercial-work-section {
  padding-bottom: $section-spacing-small;
}

.commercial-work-title,
.commercial-work-sub-title {
  @include main-font-stack;
  text-align: center;
  font-size: $h2-size;
  color: $dark-font-colour;
  // margin: 0 auto;
  margin: $heading-spacing-large auto;

  @include breakpoint(1500) {
    font-size: $h2-size-medium;
  }
}

.commercial-image-wrapper {
  width: 100%;
  margin-bottom: $section-spacing-small;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.full-width-commercial-image {
  width: 100%;
  height: auto;
  clip-path: inset(0% 100% 0% 0%);
  transition: all 1.5s 0.3s $ease-out-two;
}

.half-width-commercial-image-wrapper {
  @include flex(row);
  justify-content: center;
  align-content: center;
}

.left-half-width-commercial-image {
  margin-right: $section-spacing-small;
}

.half-width-commercial-image {
  flex: 1 1 auto;
  width: 40%;
  height: auto;
  clip-path: inset(0% 0% 0% 100%);
  transition: all 1s 0.3s $ease-out-two;
}

//* Image wipe
.commercial-image-reveal {
  clip-path: inset(0% 0% 0% 0%);
}
