//*==============================================================================
//** Commercial Work Page Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.commercial-work-section {
  padding-bottom: $section-spacing-medium;
  margin-bottom: $section-spacing-smaller;

  @include breakpoint(1500) {
    margin-bottom: $section-spacing-small;
  }

  @include breakpoint(900) {
    margin-bottom: $paragraph-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: 0;
  }
}

.commercial-work-title,
.commercial-work-sub-title {
  @include main-font-stack;
  text-align: center;
  font-size: $h2-size;
  color: $dark-font-colour;
  margin: $heading-spacing-large auto;

  @include breakpoint(1500) {
    font-size: $h2-size-medium;
    padding: 0 $paragraph-spacing-medium;
  }

  @include breakpoint(1100) {
    font-size: $h2-size-small;
    margin: $heading-spacing-medium auto;
  }

  @include breakpoint(900) {
    font-size: $h2-size-smaller;
  }

  @include breakpoint(700) {
    margin: $heading-spacing-tiny auto;
  }

  @include breakpoint(400) {
    font-size: $h2-size-extra-small;
  }
}

.commercial-image-wrapper {
  width: 100%;
  margin-bottom: $section-spacing-small;

  @include breakpoint(1100) {
    margin-bottom: $heading-spacing-medium;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-tiny;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.full-width-commercial-image {
  width: 100%;
  height: auto;
  clip-path: inset(0% 100% 0% 0%);
  transition: all 1.5s 0.3s $ease-out-two;
}

.half-width-commercial-image-wrapper {
  @include flex(row);
  justify-content: center;
  align-content: center;

  @include breakpoint(700) {
    @include flex(column);
  }
}

.left-half-width-commercial-image {
  margin-right: $section-spacing-small;
}

.half-width-commercial-image {
  flex: 1 1 auto;
  width: 40%;
  height: auto;
  clip-path: inset(0% 0% 0% 100%);
  transition: all 1s 0.3s $ease-out-two;

  @include breakpoint(700) {
    width: 100%;
  }
}

//* Image wipe
.commercial-image-reveal {
  clip-path: inset(0% 0% 0% 0%);
}
