//*==============================================================================
//** Commercial Work Page Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.commercial-work-section {
  padding-bottom: $section-spacing-small;
}

.commercial-work-title,
.commercial-work-sub-title {
  @include main-font-stack;
  text-align: center;
  font-size: $h2-size;
  color: $dark-font-colour;
  margin: 0 auto;
  padding: $heading-spacing-medium 0;
}

.commercial-image-wrapper {
  width: 100%;
  margin-bottom: $section-spacing-small;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.full-width-commercial-image {
  width: 100%;
  height: auto;
  clip-path: inset(0% 99% 0% 0%);
  opacity: 0;
  transition: clip-path 1.5s $ease-out-two, opacity 0.1s 1.3s linear;
}

.half-width-commercial-image-wrapper {
  @include flex(row);
  justify-content: center;
  align-content: center;
}

.left-half-width-commercial-image {
  margin-right: $section-spacing-small;
}

.half-width-commercial-image {
  flex: 1 1 auto;
  width: 40%;
  height: auto;
  opacity: 0;
  clip-path: inset(0% 0% 0% 99%);
  transition: clip-path 1.5s $ease-out-two, opacity 0.1s 1.3s linear;
}

//* Image wipe
.commercial-image-reveal {
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 1.5s $ease-out-two, opacity 0.2s linear;
}
