//*==============================================================================
//** Films Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.


//*=========================================
//** Main **
//*=========================================


//********** Videos **********
.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}