//*==============================================================================
//** Films Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.


//*=========================================
//** Header **
//*=========================================

.invisible-header {
  height: 0;
}


//*=========================================
//** Main **
//*=========================================


//********** Video Wrapper **********

.video-wrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
}


//********** Videos **********
.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

//*=========================================
//** Footer **
//*=========================================

.invisible-footer {
  height: 0;
  padding: 0;
  margin: 0;
}