//*==============================================================================
//** Installations Page Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

body {
  background: $main-background-gradient;
}

.header-inner-wrapper {
  margin: $header-spacing 0 0;
}

.installations-main-content {
  background-image: url(/images/birds-background-images.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: $header-spacing;
  padding-bottom: $section-spacing-medium;
  margin-bottom: $section-spacing-small;
}

.installations-page-title {
  @include main-font-stack;
  font-size: $h2-size;
  text-align: center;
}

.installations-link-section {
  @include flex(row);
  justify-content: center;
}

.installations-link-wrapper {
  @include flex(row);
}

.props-link-wrapper {
  margin-right: $section-spacing-small;
}

.sprosser-link-wrapper {
  justify-content: center;
  align-items: center;
}

.installations-link-number,
.installations-link {
  color: $light-font-colour;
}

.installations-link-number {
  font-size: $h2-size;
  @include utility-font-stack;
  font-weight: 300;
}

.installations-link {
  @include main-font-stack;
}

.props-link {
  font-size: $h1-size;
}

.sprosser-link-number,
.sprosser-link {
  display: inline-block;
  transform: translateY(-15px);
}

.sprosser-link {
  font-size: $h2-size;
}
