//*==============================================================================
//** Installations Page Styles **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

body {
  background: $main-background-gradient;
}

.header-inner-wrapper {
  margin: $header-spacing-medium 0 0;
}

.installations-main-content {
  background-image: url(/images/birds-background-images.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 0;
}

.general-page-title {
  color: $dark-font-colour;
  margin: $heading-spacing-large auto;

  @include breakpoint(1500) {
    font-size: $h2-size-medium;
  }

  @include breakpoint(1200) {
    margin: $heading-spacing-medium auto;
  }
}

.installations-link-section {
  @include flex(row);
  justify-content: center;
  margin-bottom: $section-spacing-medium;

  @include breakpoint(1200) {
    @include flex(column);
    align-items: center;
  }
}

.installations-link-wrapper {
  @include flex(row);
}

.props-link-wrapper {
  margin-right: $section-spacing-small;
}

.sprosser-link-wrapper {
  justify-content: center;
  align-items: center;
}

.installations-link {
  @include main-font-stack;
  color: $dark-font-colour;
  line-height: 1;
}

.props-link {
  display: inline-block;
  font-size: $font-size-extra-large;

  @include breakpoint(1500) {
    font-size: $font-size-larger;
  }
  @include breakpoint(1200) {
    margin-bottom: $h2-size-smaller;
  }
}

.sprosser-link {
  display: inline-block;
  font-size: $font-size-large;

  @include breakpoint(1500) {
    // font-size: $font-size-medium;
  }
}

.installations-link-number {
  @include utility-font-stack;
  color: inherit;
  font-weight: 700;
}

.props-link-number {
  font-size: $font-size-large;
  vertical-align: top;
  margin-top: -11px;
  display: inline-block;
}

.sprosser-link-number {
  vertical-align: bottom;
}
