//*==============================================================================
//** Terms and Conditions &  **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

//* Page Titles
.general-page-title {
  width: fit-content;
  background-image: url('/images/birds-background-images.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: $heading-spacing-large $paragraph-spacing-large;
  font-size: $h2-size-small;
  margin: 0 auto;
  color: $dark-font-colour;
}

.legals-text-section {
  @include main-font-stack;
  font-size: $font-size-medium;
  padding: 0 $section-spacing-medium $section-spacing-medium;
}
