//*==============================================================================
//** Photography Page Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.general-page-title {
  @include main-font-stack;
  color: $light-font-colour;
  margin: 0 0 0 $h2-size;
  padding: $heading-spacing-medium;
  font-size: $h2-size;
  position: relative;
  text-align-last: left;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $accent-background-colour;
    width: 100%;
    height: 90vh;
  }
}

.photo-gallery-section {
  @include flex(column);
}

.photo-wrapper {
  margin: 0 0 $section-spacing-medium;
  width: 100%;
}

.double-photo-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 95vh;
}

.full-width-photo-image-wrapper {
  flex: 0 0 auto;
  height: 95vh;
  overflow: hidden;
}

.full-width-photo-image {
  clip-path: inset(0% 0% 0% 100%);
  // height: 100vh;
  width: 100%;
  object-fit: cover;
  transition: all 1.5s 0.1s $ease-out-two;
}

.half-width-photo-image {
  flex: 0 1 auto;
  width: 48%;
  // height: 100vh;
  justify-content: space-between;
  clip-path: inset(0% 100% 0% 0%);
  transition: all 1s 0.1s $ease-out-two;
}

//* Image wipe

.photo-image-reveal {
  clip-path: inset(0% 0% 0% 0%);
}
