//*==============================================================================
//** Photography Page Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.photography-page-title {
  @include main-font-stack;
  color: $light-font-colour;
  margin: 0 0 0 $h2-size;
  padding: $h2-size;
  font-size: $h2-size;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $accent-background-colour;
    width: 100%;
    height: 90vh;
  }
}

.photo-gallery-section {
  // margin-top: -$section-spacing-extra-large;
}

.photo-wrapper {
  margin-bottom: $section-spacing-small;
  width: 100%;
  // width: calc(100% - #{$section-spacing-medium});
}

.double-photo-wrapper {
  @include flex(row);
  justify-content: center;
  align-items: flex-start;
}

.photo-wrapper-one {
  width: auto;
  margin-right: $section-spacing-small;
}

.full-width-photo-image {
  width: 100%;
}

.half-width-photo-image {
  flex: 1 1 auto;
  width: 50%;
}

.half-width-photo-image-one {
  margin-right: $section-spacing-small;
}

.photo-image-two {
  margin-top: $paragraph-spacing-medium;
}
