//*==============================================================================
//** Photography Page Styles **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

.general-page-title {
  color: $light-font-colour;
  margin: 0 0 0 $heading-spacing-small;
  padding: $heading-spacing-medium 0 $heading-spacing-medium
    $heading-spacing-small;
  font-size: $h2-size;
  position: relative;
  text-align: left;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $accent-background-colour;
    width: 100%;
    height: 75vh;

    @include breakpoint(900) {
      display: none;
    }
  }

  @include breakpoint(1500) {
    padding: $heading-spacing-small 0 $heading-spacing-small
      $heading-spacing-small;
    font-size: 13.5vw;
  }

  @include breakpoint(900) {
    margin: 0;
    padding: $section-spacing-extra-small 0 $section-spacing-extra-small
      $section-spacing-extra-small;
    color: $dark-font-colour;
  }

  @include breakpoint(700) {
    padding: $section-spacing-tiny 0 $section-spacing-tiny;
    text-align: center;
  }
}

.photo-gallery-section {
  @include flex(column);
  margin-bottom: $section-spacing-small;

  @include breakpoint(1500) {
    margin-bottom: $section-spacing-tiny;
  }
}

.photo-wrapper {
  margin: 0 0 $section-spacing-medium;
  width: 100%;
  max-height: 95vh;

  @include breakpoint(900) {
    margin: 0 0 $section-spacing-extra-small;
  }

  @include breakpoint(700) {
    margin-bottom: $section-spacing-tiny;
  }
}

.double-photo-wrapper {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.full-width-photo-image-wrapper {
  flex: 0 0 auto;
  overflow: hidden;
}

.full-width-photo-image {
  clip-path: inset(0% 0% 0% 100%);
  width: 100%;
  object-fit: cover;
  transition: all 1.5s 0.1s $ease-out-two;
}

.half-width-photo-image {
  flex: 0 1 auto;
  width: 48%;
  justify-content: space-between;
  clip-path: inset(0% 100% 0% 0%);
  transition: all 1s 0.1s $ease-out-two;
}

//* Image wipe

.photo-image-reveal {
  clip-path: inset(0% 0% 0% 0%);
}
