//*==============================================================================
//** Props Styles **
//*==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

//* Page Titles

.general-page-title {
  width: fit-content;
  background-image: url('/images/birds-background-images-tiny.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-transform: capitalize;
  padding: $section-spacing-tiny;
  margin: $section-spacing-smaller auto;
  color: $dark-font-colour;

  @include breakpoint(1100) {
    margin: $section-spacing-small auto;
  }

  @include breakpoint(900) {
    font-size: $h2-size-medium;
  }

  @include breakpoint(700) {
    background-image: none;
    padding: 0;
    margin: $section-spacing-tiny auto;
    font-size: $h2-size-small;
  }
}

.installations-subtitle-wrapper {
  @include flex(row);
  justify-content: center;
  @include main-font-stack;
  font-size: $font-size-medium;
  margin: 0 auto $section-spacing-medium;

  @include breakpoint(1500) {
    @include flex(column);
    align-items: center;
  }

  @include breakpoint(1100) {
    margin: 0 $section-spacing-tiny $h2-size-smaller;
  }

  @include breakpoint(700) {
    margin: 0 $section-spacing-tiny $section-spacing-tiny;
    font-size: $font-size-smaller;
  }

  @include breakpoint(400) {
    font-size: $font-size-small;
  }
}

.installations-subtitle {
  color: $dark-font-colour;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.installations-subtitle-one {
  margin-right: $section-spacing-small;

  @include breakpoint(1500) {
    margin: 0 0 $heading-spacing-smaller;
  }

  @include breakpoint(700) {
    margin: 0 0 $section-spacing-tiny;
  }
}

//* Gallery

.props-gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $section-spacing-tiny;
  justify-items: stretch;
  align-items: stretch;

  @include breakpoint(1200) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.props-image {
  width: 100%;
  object-fit: cover;
  clip-path: inset(0% 100% 0% 0%);
  transition: all 1s 0.1s $ease-out-two;
}

//********** Photo fade in **********

//* Image wipe

.photo-image-reveal {
  clip-path: inset(0% 0% 0% 0%);
}

//* Text section

.installations-text-section {
  @include main-font-stack;

  color: $dark-font-colour;
  font-size: $font-size-medium;
  padding: $section-spacing-medium;

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint(1100) {
    padding: $heading-spacing-smaller $heading-spacing-smaller
      $section-spacing-smaller;
  }

  @include breakpoint(700) {
    padding: $section-spacing-tiny 25px;
    font-size: $font-size-smaller;
  }

  @include breakpoint(400) {
    font-size: $font-size-small;
  }
}

//********** Text fade in **********

.fade-in {
  transform: rotateX(90deg);
  opacity: 0;
  transition: all 0.6s ease-out;
}

.fade-in-reveal {
  opacity: 1;
  transform: rotateX(0);
}
