// *==============================================================================
// ** Sprosser Styles **
// *==============================================================================

//* Imports

@import 'bits'; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

//* Page Titles
.general-page-title {
  width: fit-content;
  background-image: url('/images/birds-background-images.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-transform: capitalize;
  padding: $heading-spacing-large $paragraph-spacing-large;
  margin: 0 auto;
  color: $dark-font-colour;
}

.installations-subtitle-wrapper {
  @include flex(row);
  justify-content: center;
  align-items: center;
  @include main-font-stack;
  font-size: $font-size-medium;
  margin: $section-spacing-medium auto;
}

.installations-subtitle {
  color: $dark-font-colour;
  font-weight: normal;
  margin: 0;
}

.installations-subtitle-one {
  margin-right: $section-spacing-small;
}

.installations-subtitle-two {
  width: 50%;
}

//* Sprosser Videos

.sprosser-videos-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  margin: 0 $section-spacing-small;

  @include breakpoint(1200) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.sprosser-video {
  width: 100%;
  object-fit: cover;
}

.play-button-wrapper {
  position: absolute;
  @include flex(column);
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  height: 15rem;
  width: 15rem;

  &:hover {
    .pause-button {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.play-button {
  background-image: url('/images/video-player-icon.svg');
}

.pause-button {
  background-image: url('/images/pause button.svg');
  opacity: 0;
  transform: scale(0);
  display: none;
}

.play-button,
.pause-button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 12rem;
  width: 12rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:active {
    outline: none;
    border: none;
  }
}

.hide-play-and-pause-button {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

//* Text

.installations-text-section {
  @include main-font-stack;

  color: $dark-font-colour;
  font-size: $font-size-medium;
  padding: $section-spacing-medium;
}
