//*==============================================================================
//** Sprosser Styles **
//*==============================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Main **
// *=========================================

//* Page Titles

.general-page-title {
  width: fit-content;
  background-image: url("/images/birds-background-images.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-transform: capitalize;
  padding: $heading-spacing-large $paragraph-spacing-large;
  margin: 0 auto;
  color: $dark-font-colour;
}

.installations-subtitle-wrapper {
  @include flex(row);
  justify-content: center;
  align-items: center;
  @include main-font-stack;
  font-size: $font-size-medium;
  margin: $section-spacing-medium auto;
}

.installations-subtitle {
  color: $dark-font-colour;
  font-weight: normal;
  margin: 0;
}

.installations-subtitle-one {
  margin-right: $section-spacing-small;
}

.installations-subtitle-two {
  width: 50%;
}

//* Sprosser Videos

.sprosser-videos-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  margin: 0 $section-spacing-small;

  @include breakpoint(1200) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.sprosser-video {
  width: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  z-index: 2;
  background-image: url("/images/video-player-icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 11rem;
  width: 11rem;
  border: none;
  outline: none;
  background-color: transparent;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:active {
    outline: none;
    border: none;
  }
}

.hide-play-button {
  transform: scale(0);
  opacity: 0;
}

//* Text

.installations-text-section {
  @include main-font-stack;

  color: $dark-font-colour;
  font-size: $font-size-medium;
  padding: $section-spacing-medium;
}
