// *=======================================================================================
// ** Styles for all pages
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//* Imports

@import "bits"; //Contains variables, media queries mixins etc.

// *=========================================
// ** Wrappers **
// *=========================================

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  overflow-x: hidden;
  background-color: $main-background-colour;

  @include styled-scrollbar(
    0.75rem,
    $dark-background-colour,
    $main-background-colour,
    $accent-background-colour
  );
}

.html-nav-opened {
  //Removes scrollbar & stops background scrolling when main nav is open
  overflow: hidden;
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 2000px;
  //! TODO: Temp for active menu. Change put in separate class
}

main {
  position: relative;
  z-index: 2;
  background-color: $main-background-colour;
  overflow: hidden;
}

section {
  position: relative;
}

// *=========================================
// ** Content container and block **
// *=========================================

//* Headings

h2 {
  margin: $heading-spacing-small auto;
}

//* Containers

//* Paragraphs

// *=========================================
// ** Inline **
// *=========================================

//* Images

img {
  // width: 100%;
  display: block;
}

//* Links

a {
  text-decoration: none;
}

// *=========================================
// *=========================================
// ** Header  **

header {
  @include flex(row);
  position: relative;
  z-index: 3;
  background-color: $main-background-colour;
}

.main-header {
  justify-content: center;
  align-items: center;
}

.header-inner-wrapper {
  @include flex(row);
  margin: $header-spacing-small 0 0;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  //* Menu breakpoint
  @include breakpoint(700) {
    margin: $header-spacing-small $header-spacing-small 0;
  }
  //* Last breakpoint
  @include breakpoint(400) {
    margin: $header-spacing-extra-small $header-spacing-extra-small 0;
  }
}

.main-logo {
  height: auto;
  width: 300px;
  margin: 0 auto;

  @include breakpoint(900) {
    width: 60%;
    height: auto;
  }
  //* Menu Breakpoint
  @include breakpoint(700) {
    width: 100%;
  }
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  @include utility-font-stack;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  z-index: 10;
  height: 0;
  width: 0;
}

.nav-inner-wrapper {
  @include flex(column);
  background-color: $accent-background-colour;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  clip-path: inset(0 0 0 100%);
  -webkit-overflow-scrolling: auto;
}

.main-nav-reveal {
  width: 100vw;
  height: 100%;
}

.main-nav-ul {
  margin: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-nav-li {
  list-style-type: none;
  width: auto;
  text-align: center;

  &:last-of-type {
    @include breakpoint(500) {
      margin-bottom: 5rem;
    }
  }
}

.main-nav-link {
  display: inline-block;
  padding: calc(#{$section-spacing-tiny} / 2);
  margin-bottom: calc(#{$section-spacing-tiny} / 2);
  text-transform: uppercase;
  font-size: $font-size-medium;
  font-weight: bold;
  color: $dark-font-colour;

  @include width-orientation-breakpoint(1100, landscape) {
    padding: calc(#{$section-spacing-tiny} / 4);
    margin-bottom: calc(#{$section-spacing-tiny} / 4);
  }

  @include breakpoint(700) {
    font-size: $font-size-smaller;
    padding: calc(#{$section-spacing-tiny} / 3);
    margin-bottom: calc(#{$section-spacing-tiny} / 3);
  }

  @include breakpoint(500) {
    font-size: $font-size-small;
    padding: calc(#{$section-spacing-tiny} / 4);
    margin-bottom: calc(#{$section-spacing-tiny} / 4);
  }
}

#main-nav-selected {
  .main-nav-link {
    color: $light-font-colour;
  }
}

.main-nav-trigger {
  position: fixed;
  right: $header-spacing-small;
  top: $header-spacing-small;
  border: 1px solid $dark-grey;
  background-color: $main-background-colour;
  border-radius: 50%;
  width: $section-spacing-small;
  height: $section-spacing-small;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  color: $dark-font-colour;

  @include breakpoint(700) {
    right: 50%;
    top: unset;
    bottom: $paragraph-spacing-small;
    transform: translateX(50%);
    transition: all 0.3s ease;
  }
}

.menu-closer {
  display: none;
  opacity: 0;
}

.main-nav-background-birds {
  position: absolute;
  width: 40%;
  z-index: -1;

  @include breakpoint(1500) {
    width: 60%;
  }

  @include breakpoint(1000) {
    width: 90%;
  }

  @include breakpoint(400) {
    top: 35%;
  }
}

.nav-trigger-hide {
  transform: translateX(50%) translateY(6rem);
}

//********** Cookie Warning **********
.cookie-warning-wrapper {
  @include flex(row);
  @include utility-font-stack;

  justify-content: space-between;
  padding: $paragraph-spacing-medium $section-spacing-tiny;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $dark-grey;
  color: $light-font-colour;
  width: 100%;
  font-size: $font-size-smallest;
  z-index: 20;
  transition: all 0.5s;
  opacity: 0;

  @include breakpoint(1100) {
    @include flex(column);
  }
}

.cookie-warning-paragraph {
  margin: 0 $section-spacing-tiny 0 0;

  @include breakpoint(1100) {
    margin: 0 0 $section-spacing-tiny;
    text-align: center;
  }
}

.cookie-warning-link {
  color: inherit;
  text-decoration: underline;
}

.cookie-warning-button {
  background-color: transparent;
  border: 2px solid $light-font-colour;
  color: $light-font-colour;
  font-size: inherit;
  padding: 5px $section-spacing-tiny;
  width: fit-content;
  flex: 0 0 auto;
  text-align: center;

  @include breakpoint(500) {
    width: 80%;
  }
}

.cookie-warning-wrapper.show-cookie-warning {
  opacity: 1;
  transition: all 1s 1s;
}

// *=========================================
// ** Main **
// *=========================================

//* Page title for most pages
.general-page-title {
  @include main-font-stack;
  font-size: $h2-size;
  text-align: center;
}

// *=========================================
// ** Forms  **
// *=========================================

.general-contact-form-section {
  margin: $section-spacing-large $section-spacing-large;
  color: $dark-font-colour;

  @include breakpoint(1500) {
    margin: $section-spacing-medium $section-spacing-small;
  }

  @include breakpoint(1100) {
    margin: $section-spacing-smaller $section-spacing-small;
  }

  @include breakpoint(700) {
    margin: $section-spacing-small $section-spacing-tiny;
  }

  @include breakpoint(400) {
    margin: $section-spacing-tiny $paragraph-spacing-medium;
  }
}

.contact-form-intro-text {
  @include main-font-stack;
  font-size: $font-size-large;
  margin: 0 0 $section-spacing-medium;

  @include breakpoint(1500) {
    margin: 0 0 $section-spacing-smaller;
  }

  @include breakpoint(1100) {
    margin: 0 0 $section-spacing-small;
  }

  @include breakpoint(900) {
    font-size: $h2-size-smaller;
  }

  @include breakpoint(700) {
    font-size: $font-size-medium;
  }
}

.birds-background-image {
  position: absolute;
  width: 350px;
  right: 0;
  top: -1rem;
}

.general-contact-form-wrapper {
  @include flex(column);
  justify-content: center;
  @include utility-font-stack;
}

.general-contact-form-input-wrapper {
  @include flex(row);
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: $section-spacing-small;

  @include breakpoint(700) {
    @include flex(column);
    align-items: flex-start;
  }
}

.general-contact-form-label {
  width: $section-spacing-large;
  flex: 0 1 auto;
  font-size: $label-font-size;
  font-weight: 700;
  vertical-align: bottom;
  line-height: 0.7;
  letter-spacing: $letter-spacing-small;

  @include breakpoint(700) {
    line-height: normal;
    margin-bottom: $paragraph-spacing-medium;
    font-size: $label-font-size-smaller;
  }
}

.text-area-label {
  align-self: flex-start;
}

.general-contact-form-input {
  flex: 1 1 auto;
  background-color: $main-background-colour;
  border: 0;
  border-bottom: 1px solid $dark-font-colour;
  font-size: $font-size-small;
  padding-bottom: 5px;

  @include breakpoint(700) {
    width: 100%;
  }

  &:focus,
  &:active {
    border-bottom: 1px solid $dark-font-colour;
  }
}

.text-area-input {
  border-bottom: 0;
  line-height: 1.85rem;
  background-attachment: local;
  resize: none;
  @include styled-scrollbar(
    0.25rem,
    $dark-background-colour,
    $main-background-colour,
    $main-background-colour
  );
  background-image: linear-gradient(
      to right,
      $main-background-colour 0,
      transparent 0
    ),
    linear-gradient(to left, $main-background-colour 0, transparent 0),
    repeating-linear-gradient(
      $main-background-colour,
      $main-background-colour 1.8rem,
      $dark-font-colour 1.8rem,
      $dark-font-colour 1.85rem,
      $main-background-colour 1.85rem
    );

  &:focus {
    border-bottom: 0;
  }
}

.contact-consent-link {
  color: $dark-font-colour;
  text-decoration: underline;
}

//* Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//********** Checkbox **********
.checkbox-div {
  @include flex(row);
  margin-bottom: $section-spacing-small;
  justify-content: space-between;
  align-items: flex-start;

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 0.5rem;

    @include breakpoint(400) {
      top: 0.3rem;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      margin-top: -3px;
      margin-left: -4px;
      border: 1px solid $dark-background-colour;
      border-radius: 0.25em;
      background: $main-background-colour;
    }

    &:after {
      content: "";
      position: absolute;
      height: 7px;
      width: 16px;
      color: $dark-font-colour;
      border-left: 2px solid;
      border-bottom: 2px solid;
      top: 0px;
      left: -2px;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all $timing-duration-short cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  label {
    text-transform: none;
    display: inline-block;
    font-size: $input-font-size-medium;
    font-weight: bold;
    width: 90%;

    @include breakpoint(400) {
      font-size: $input-font-size-small;
    }
  }
}

.submit-wrapper {
  margin-bottom: 0;
}

.submit {
  margin: 0 auto;
  border: 1px solid $dark-background-colour;
  background-color: $main-background-colour;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  transition: all ease $timing-duration-short;

  &:hover {
    background-color: $dark-background-colour;
    color: $light-font-colour;
  }
}

.success {
  font-size: $font-size-medium;
  text-align: center;
}

//********** Honeypot **********

.form-identification-number {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

//********** Section divider **********

.section-divider {
  position: absolute;
  width: 101%;
  bottom: -5px;
  left: -2px;
}

// *=========================================
// ** Footer  **
// *=========================================

footer {
  @include flex(column);
  @include utility-font-stack;
  color: $light-font-colour;
  align-items: center;
  padding: $section-spacing-medium $paragraph-spacing-small 0;
  background-color: $dark-background-colour;
  margin: 0 0 -50px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  // Fixes stick footer overflow
  max-height: 115vh;

  @include breakpoint(1000) {
    max-height: 100vh;
  }
  @include breakpoint(700) {
    padding: $section-spacing-small $paragraph-spacing-small;
  }

  @include breakpoint(400) {
    padding: $paragraph-spacing-large $paragraph-spacing-small
      $section-spacing-smaller;
  }
}

.footer-social-media-wrapper {
  @include flex(row);
  justify-content: space-between;
  width: 40%;
  margin-bottom: $section-spacing-small;

  @include breakpoint(1500) {
    width: 50%;
  }

  @include breakpoint(900) {
    width: 60%;
  }

  @include breakpoint(700) {
    width: 75%;
  }

  @include breakpoint(400) {
    width: 100%;
  }
}

@keyframes bounce-two {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem);
  }

  80%,
  100% {
    transform: translateY(0);
  }
}

.footer-social-media-link {
  &:hover {
    animation-name: bounce-two;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-timing-function: $cubic-two;
    animation-fill-mode: forwards;
  }
}

.footer-social-media-icon {
  height: 50px;
}

.footer-terms,
.footer-privacy,
.footer-copyright,
.footer-promo {
  margin-bottom: $section-spacing-small;
  text-align: center;
  font-weight: bold;

  @include breakpoint(700) {
    margin-bottom: $section-spacing-tiny;
  }
}

.footer-promo {
  @include breakpoint(400) {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

.footer-link {
  color: $light-font-colour;
  @include link-underline($light-font-colour);
}

//*=========================================
//** Browser Specific Styles  **
//*=========================================
//*=========================================
//** IOS **
//*=========================================

@supports (-webkit-appearance: none) {
  .submit {
    // Prevents button looking weird on IOS
    -webkit-appearance: none;
  }
} // IOS Styles End

//*==============================================================================
//** Accessibility **
//*==============================================================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  color: $dark-font-colour;
  background-color: $light-background-colour;
  padding: 10px;
  font-size: $font-size-medium;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

//*=========================================
//** IOS **
//*=========================================

@media not all and (min-resolution: 0.001dpcm) {
  .main-nav {
    height: 150px;
    width: 150px;

    .main-nav-ul {
      display: none;
    }
  }

  .main-nav-reveal {
    width: 100vw;
    height: 100%;
    overflow-y: auto;

    .main-nav-ul {
      display: unset;
    }
  }

  .main-nav-ul {
    display: unset;
  }
} // IOS Styles End
