<section class="four-oh-four-section">
  <div class="four-oh-four-image-wrapper">
    <img class="four-oh-four-image" src="<perch:content id="fourOhFourImage" type="image" width="1000" label="404 Image">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="(max-width:1000px) 100vw, 50vw"
    srcset="<perch:content type="image" id="fourOhFourImage" width="1000" > 1000w,
    <perch:content type="image" id="fourOhFourImage" width="800" > 800w,
    <perch:content type="image" id="fourOhFourImage" width="600" > 600w,
    <perch:content type="image" id="fourOhFourImage" width="400" > 400w" >
  </div>
  <div class="four-oh-four-text-wrapper">
    <h2 class="four-oh-four-title">
      <perch:content id="fourOhFourTitle" type="text" label="404 Page Title"  required >
    </h2>
    <perch:content id="fourOhFourTextContent" type="textarea" label="404 Page Text" editor="redactor" required html>
  </div>
</section>
<perch:template path="content/divider_svg.html">