<section class="about-me-top-section">
  <div class="about-me-image-wrapper">
    <img class="about-me-image" src="<perch:content id="aboutMeImage" type="image" width="1000" label="About Me Image">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="40vw"
    srcset="<perch:content type="image" id="aboutMeImage" width="1000" > 1000w,
    <perch:content type="image" id="aboutMeImage" width="1000" > 1000w,
    <perch:content type="image" id="aboutMeImage" width="800" > 800w,
    <perch:content type="image" id="aboutMeImage" width="600" > 600w,
    <perch:content type="image" id="aboutMeImage" width="400" > 400w" >

  </div>
  <div class="about-me-top-text">
    <perch:content id="aboutMeTopText" type="textarea" label="Text Section One" editor="redactor"  required  html>
  </div>
</section>