<section class="commercial-work-section">
  <div class="commercial-image-wrapper full-width-commercial-image-wrapper">
    <img class="commercial-image full-width-commercial-image" src="<perch:content id="commercialImageOne" type="image" width="2000" label="Commercial Image One">" alt="<perch:content id="altOne" type="text" label="Image description">"
    sizes="100vh"
    srcset="<perch:content type="image" id="commercialImageOne" width="2000" > 2000w,
    <perch:content type="image" id="commercialImageOne" width="1500" > 1500w,
    <perch:content type="image" id="commercialImageOne" width="1200" > 1200w,
    <perch:content type="image" id="commercialImageOne" width="900" > 900w,
    <perch:content type="image" id="commercialImageOne" width="600" > 600w" >
  </div>
  <div class="commercial-image-wrapper half-width-commercial-image-wrapper">
    <img class="commercial-image half-width-commercial-image left-half-width-commercial-image" src="<perch:content id="commercialImageTwo" type="image" width="1500" label="Commercial Image Two">" alt="<perch:content id="altTwo" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="commercialImageTwo" width="1500" > 1500w,
    <perch:content type="image" id="commercialImageTwo" width="1200" > 1200w,
    <perch:content type="image" id="commercialImageTwo" width="900" > 900w,
    <perch:content type="image" id="commercialImageTwo" width="600" > 600w,
    <perch:content type="image" id="commercialImageTwo" width="400" > 400w" >

    <img class="commercial-image half-width-commercial-image" src="<perch:content id="commercialImageThree" type="image" width="1500" label="Commercial Image Three">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="commercialImageThree" width="1500" > 1500w,
    <perch:content type="image" id="commercialImageThree" width="1200" > 1200w,
    <perch:content type="image" id="commercialImageThree" width="900" > 900w,
    <perch:content type="image" id="commercialImageThree" width="600" > 600w,
    <perch:content type="image" id="commercialImageThree" width="400" > 400w" >

  </div>
  <div class="commercial-image-wrapper half-width-commercial-image-wrapper">
    <img class="commercial-image half-width-commercial-image left-half-width-commercial-image" src="<perch:content id="commercialImageFour" type="image" width="1500" label="Commercial Image Four">" alt="<perch:content id="altFour" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="commercialImageFour" width="1500" > 1500w,
    <perch:content type="image" id="commercialImageFour" width="1200" > 1200w,
    <perch:content type="image" id="commercialImageFour" width="900" > 900w,
    <perch:content type="image" id="commercialImageFour" width="600" > 600w,
    <perch:content type="image" id="commercialImageFour" width="400" > 400w" >

    <img class="commercial-image half-width-commercial-image" src="<perch:content id="commercialImageFive" type="image" width="1500" label="Commercial Image Five">" alt="<perch:content id="altFive" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="commercialImageFive" width="1500" > 1500w,
    <perch:content type="image" id="commercialImageFive" width="1200" > 1200w,
    <perch:content type="image" id="commercialImageFive" width="900" > 900w,
    <perch:content type="image" id="commercialImageFive" width="600" > 600w,
    <perch:content type="image" id="commercialImageFive" width="400" > 400w" >
  </div>
</section>
<perch:template path="content/divider_svg.html">