<section class="films-section">
    <div class="video-wrapper video-one-wrapper">
        <h2 id="video-title" class="video-title">
            <perch:content id="videoOneTitle" type="text" label="Video One Title" required>
        </h2>
        <video controls preload="none" class="video video-one" poster="<perch:content id="videoPosterOne" type="image" label="Video Placeholder Image" required divider-before="Video One">">
            <source src="/video/stalemate.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon"aria-label="Play" ></button>
        <div class="video-counter">
            <span class="video-counter-span video-counter-active">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span">4</span>
        </div>
</div>
    <div class="video-wrapper video-two-wrapper">
        <h2 class="video-title">
            <perch:content id="videoTwoTitle" type="text" label="Video Two Title" required>
        </h2>
        <video controls preload="none" class="video video-two"  poster="<perch:content id="videoPosterTwo" type="image" label="Video Placeholder Image" required divider-before="Video Two">">
            <source src="/video/rehearsal.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon"aria-label="Play" ></button>
        <div class="video-counter">
            <span class="video-counter-span ">1</span>
            <span class="video-counter-span video-counter-active">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span">4</span>
        </div>
    </div>
    <div class="video-wrapper video-three-wrapper">
        <h2 class="video-title">
            <perch:content id="videoThreeTitle" type="text" label="Video Three Title" required>
        </h2>
        <video controls preload="none" class="video video-three" poster="<perch:content id="videoPosterThree" type="image" label="Video Placeholder Image" required divider-before="Video Three">">
            <source src="/video/dawn.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon"aria-label="Play" ></button>
        <div class="video-counter">
            <span class="video-counter-span">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span video-counter-active">3</span>
            <span class="video-counter-span">4</span>
        </div>
    </div>
    <div class="video-wrapper video-four-wrapper">
        <h2 class="video-title">
            <perch:content id="videoFourTitle" type="text" label="Video Four Title" required>
        </h2>
        <video controls preload="none" class="video video-four" poster="<perch:content id="videoPosterFour" type="image" label="Video Placeholder Image" required divider-before="Video Four">">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon"aria-label="Play" ></button>
        <div class="video-counter">
            <span class="video-counter-span">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span video-counter-active">4</span>
        </div>
    </div>
</section>