<section class="films-section">
    <div class="video-wrapper video-one-wrapper">
        <h2 id="video-title" class="video-title">
            stalemate
        </h2>
        <video controls preload="none" class="video video-one">
            <source src="/video/stalemate.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon" aria-label="Play"></button>
        <div class="video-counter">
            <span class="video-counter-span video-counter-active">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span">4</span>
        </div>
    </div>
    <div class="video-wrapper video-two-wrapper">
        <h2 class="video-title">
            rehearsal
        </h2>
        <video controls preload="none" class="video video-two">
            <source src="/video/rehearsal.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon" aria-label="Play"></button>
        <div class="video-counter">
            <span class="video-counter-span ">1</span>
            <span class="video-counter-span video-counter-active">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span">4</span>
        </div>
    </div>
    <div class="video-wrapper video-three-wrapper">
        <h2 class="video-title">
            dawn
        </h2>
        <video controls preload="none" class="video video-three">
            <source src="/video/dawn.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon" aria-label="Play"></button>
        <div class="video-counter">
            <span class="video-counter-span">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span video-counter-active">3</span>
            <span class="video-counter-span">4</span>
        </div>
    </div>
    <div class="video-wrapper video-four-wrapper">
        <h2 class="video-title">
            my favorite band
        </h2>
        <video controls preload="none" class="video video-four">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
        <button class="play-button video-player-icon" aria-label="Play"></button>
        <div class="video-counter">
            <span class="video-counter-span">1</span>
            <span class="video-counter-span">2</span>
            <span class="video-counter-span">3</span>
            <span class="video-counter-span video-counter-active">4</span>
        </div>
    </div>
</section>