<div class="footer-social-media-wrapper">
  <a href="<perch:content id="footerBehanceLink" type="text" label="Behance Link">" help="Paste in full URL" class="footer-social-media-link footer-behance-link">
    <img src="<perch:content id="footerBehanceIcon" type="image" label="Behance Icon">" alt="Behance icon=">
  </a>
  <a href="<perch:content id="footerInstagramLink" type="text" label="Instagram Link">" help="Paste in full URL" class="footer-social-media-link footer-instagram-link">
    <img src="<perch:content id="footerInstagramIcon" type="image" label="Instagram Icon">" alt="Instagram icon=">
  </a>
  <a href="<perch:content id="footerVimeoLink" type="text" label="Vimeo Link">" help="Paste in full URL" class="footer-social-media-link footer-vimeo-link">
    <img src="<perch:content id="footerVimeoIcon" type="image" label="Vimeo Icon">" alt="Vimeo icon=">
  </a>
  <a href="<perch:content id="footerYouTubeLink" type="text" label="YouTube Link">" help="Paste in full URL" class="footer-social-media-link footer-youtube-link">
    <img src="<perch:content id="footerYouTubeIcon" type="image" label="YouTube Icon">" alt="YouTube icon=">
  </a>
</div>
