 <section class="triptych-section">
  <div class="triptych-image-one-wrapper">
    <img class="triptych-image-one" src="<perch:content id="triptychImageOne" type="image" width="1000" label="Triptych Image One">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="100vh"
    srcset="<perch:content type="image" id="triptychImageOne" width="1000" > 1000w,
    <perch:content type="image" id="triptychImageOne" width="800" > 800w,
    <perch:content type="image" id="triptychImageOne" width="600" > 600w,
    <perch:content type="image" id="triptychImageOne" width="400" > 400w" >
  </div>

  <div class="triptych-image-two-wrapper">
    <img class="triptych-image-two" src="<perch:content id="triptychImageTwo" type="image" width="1000" label="Triptych Image Two">" alt="<perch:content id="altTwo" type="text" label="Image description">"
    sizes="100vh"
    srcset="<perch:content type="image" id="triptychImageTwo" width="1000" > 1000w,
    <perch:content type="image" id="triptychImageTwo" width="800" > 800w,
    <perch:content type="image" id="triptychImageTwo" width="600" > 600w,
    <perch:content type="image" id="triptychImageTwo" width="400" > 400w" >
  </div>

  <div class="triptych-image-three-wrapper">
    <img class="triptych-image-three" src="<perch:content id="triptychImageThree" type="image" width="1000" label="Triptych Image three">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="100vh"
    srcset="<perch:content type="image" id="triptychImageThree" width="1000" > 1000w,
    <perch:content type="image" id="triptychImageThree" width="800" > 800w,
    <perch:content type="image" id="triptychImageThree" width="600" > 600w,
    <perch:content type="image" id="triptychImageThree" width="400" > 400w" >
  </div>
</section>