<section class="intro-text-section">
    <p class="homepage-intro-text-paragraph homepage-intro-text-paragraph-one fade-in-text"><perch:content id="homepageIntroTextParagraphOne" type="text" label="First Word"  required></p>
    <p class="homepage-intro-text-paragraph homepage-intro-text-paragraph-two fade-in-text"><perch:content id="homepageIntroTextParagraphTwo" type="text" label="First Sentence"></p>
    <p class="homepage-intro-text-paragraph homepage-intro-text-paragraph-three fade-in-text"><perch:content id="homepageIntroTextParagraphThree" type="text" label="Second Sentence"></p>
    <p class="homepage-intro-text-paragraph homepage-intro-text-paragraph-four fade-in-text"><perch:content id="homepageIntroTextParagraphFour" type="text" label="Third Sentence"></p>
</section>
