  <div class="homepage-illustration-wrapper">
    <img class="homepage-illustration" loading="lazy" src="<perch:content id="homepageKasperIllustration" type="image" width="1000" label="Homepage Illustration">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="100vw"
    srcset="<perch:content type="image" id="homepageKasperIllustration" width="1000" > 1000w,
    <perch:content type="image" id="homepageKasperIllustration" width="800" > 800w,
    <perch:content type="image" id="homepageKasperIllustration" width="600" > 600w,
    <perch:content type="image" id="homepageKasperIllustration" width="400" > 400w">

  </div>