<section class="homepage-first-text-section">
    <p class="homepage-first-text-paragraph-one"><perch:content id="homepageFirstTextParagraphOne" type="text" label="First Word"  required></p>
    <p class="homepage-first-text-paragraph-two"><perch:content id="homepageFirstTextParagraphTwo" type="text" label="First Sentence"></p>
    <p class="homepage-first-text-paragraph-three"><perch:content id="homepageFirstTextParagraphThree" type="text" label="Second Sentence"></p>
    <p class="homepage-first-text-paragraph-four"><perch:content id="homepageFirstTextParagraphFour" type="text" label="Third Sentence"></p>
</section>
