 <section class="triptych-section">
    <img class="triptych-image triptych-image-one" loading="lazy" src="<perch:content id="triptychImageOne" type="image" width="1000" label="Triptych Image One">" alt="<perch:content id="alt" type="text" label="Image description">"
    sizes="45vw"
    srcset="<perch:content type="image" id="triptychImageOne" width="1000" > 1000w,
    <perch:content type="image" id="triptychImageOne" width="900" > 900w,
    <perch:content type="image" id="triptychImageOne" width="800" > 800w,
    <perch:content type="image" id="triptychImageOne" width="600" > 600w,
    <perch:content type="image" id="triptychImageOne" width="400" > 400w" >

    <div class="triptych-slides-wrapper">
			<img class="triptych-image triptych-image-two triptych-image-two-showing" src="<perch:content id="triptychImageTwoFirst" type="image" width="600" height="600" crop="true" label="First Triptych Slideshow Image" divider-before="Triptych Slideshow" help="Images must be at least 600px x 600px" quality="50">" alt="<perch:content id="altTwoFirst" type="text" label="Image description">"
			sizes="30vw"
			srcset="<perch:content type="image" id="triptychImageTwoFirst" width="600" > 600w,
			<perch:content type="image" id="triptychImageTwoFirst" width="500" > 500w,
			<perch:content type="image" id="triptychImageTwoFirst" width="400" > 400w" >

			<perch:repeater id="triptychImageSlider" label="Triptych Slideshow Images" max="10">
				<img class="triptych-image triptych-image-two" src="<perch:content id="triptychImageTwo" type="image" width="600" height="600" crop="true" label="Triptych Slideshow Image" quality="50">" alt="<perch:content id="altTwo" type="text" label="Image description">"
				sizes="30vw"
				srcset="<perch:content type="image" id="triptychImageTwo" width="600" > 600w,
				<perch:content type="image" id="triptychImageTwo" width="500" > 500w,
				<perch:content type="image" id="triptychImageTwo" width="400" > 400w" >
			</perch:repeater>
    </div>

    <img class="triptych-image triptych-image-three" loading="lazy" src="<perch:content id="triptychImageThree" type="image" width="800" label="Triptych Image three">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="20vw"
    srcset="<perch:content type="image" id="triptychImageThree" width="800" > 800w,
    <perch:content type="image" id="triptychImageThree" width="600" > 600w,
    <perch:content type="image" id="triptychImageThree" width="400" > 400w" >
</section>