<section class="installations-link-section">
  <div class="installations-link-wrapper props-link-wrapper">
    <a href="/props" class="installations-link props-link">
    <span class="installations-link-number props-link-number">
      01.
    </span>
      Props
    </a>
  </div>
  <div class="installations-link-wrapper sprosser-link-wrapper">
    <a href="/sprosser" class="installations-link sprosser-link">
    <span class="installations-link-number sprosser-link-number">
      02.
    </span>
      Sprosser
    </a>
  </div>
</section>
<perch:template path="content/divider_svg.html"></perch:template>