<section class="photo-gallery-section">
  <div class="photo-wrapper double-photo-wrapper photo-wrapper-one">
      <img class="photo-image half-width-photo-image half-width-photo-image-one" src="<perch:content id="photoImageOne" type="image" width="1500" label="Photo Image One">" alt="<perch:content id="altOne" type="text" label="Image description">"
      sizes="50vw"
      srcset="<perch:content type="image" id="photoImageOne" width="1500" > 1500w,
      <perch:content type="image" id="photoImageOne" width="1200" > 1200w,
      <perch:content type="image" id="photoImageOne" width="900" > 900w,
      <perch:content type="image" id="photoImageOne" width="700" > 700w,
      <perch:content type="image" id="photoImageOne" width="500" > 500w" >
    <img class="photo-image half-width-photo-image half-width-photo-image-two" src="<perch:content id="photoImageTwo" type="image" width="1500" label="Photo Image Two">" alt="<perch:content id="altTwo" type="text" label="Image description">"
      sizes="50vw"
      srcset="<perch:content type="image" id="photoImageTwo" width="1500" > 1500w,
      <perch:content type="image" id="photoImageTwo" width="1200" > 1200w,
      <perch:content type="image" id="photoImageTwo" width="900" > 900w,
      <perch:content type="image" id="photoImageTwo" width="700" > 700w,
      <perch:content type="image" id="photoImageTwo" width="500" > 500w" >
  </div>
  <div class="photo-wrapper full-width-photo-image-wrapper">
    <img class="photo-image full-width-photo-image" src="<perch:content id="photoImageThree" type="image" width="2000" label="Photo Image Three">" alt="<perch:content id="altThree" type="text" label="Image description">"
    sizes="100vw"
    srcset="<perch:content type="image" id="photoImageThree" width="2000" > 2000w,
    <perch:content type="image" id="photoImageThree" width="1500" > 1500w,
    <perch:content type="image" id="photoImageThree" width="1200" > 1200w,
    <perch:content type="image" id="photoImageThree" width="900" > 900w,
    <perch:content type="image" id="photoImageThree" width="600" > 600w" >
  </div>
  <div class="photo-wrapper double-photo-wrapper">
    <img class="photo-image half-width-photo-image half-width-photo-image-one" src="<perch:content id="photoImageFour" type="image" width="1500" label="Photo Image Four">" alt="<perch:content id="altFour" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="photoImageFour" width="1500" > 1500w,
    <perch:content type="image" id="photoImageFour" width="1200" > 1200w,
    <perch:content type="image" id="photoImageFour" width="900" > 900w,
    <perch:content type="image" id="photoImageFour" width="700" > 700w,
    <perch:content type="image" id="photoImageFour" width="500" > 500w" >
    <img class="photo-image half-width-photo-image half-width-photo-image-two" src="<perch:content id="photoImageFive" type="image" width="1500" label="Photo Image Five">" alt="<perch:content id="altFive" type="text" label="Image description">"
    sizes="50vw"
    srcset="<perch:content type="image" id="photoImageFive" width="1500" > 1500w,
    <perch:content type="image" id="photoImageFive" width="1200" > 1200w,
    <perch:content type="image" id="photoImageFive" width="900" > 900w,
    <perch:content type="image" id="photoImageFive" width="700" > 700w,
    <perch:content type="image" id="photoImageFive" width="500" > 500w" >
  </div>
  <div class="photo-wrapper full-width-photo-image-wrapper">
    <img class="photo-image full-width-photo-image" src="<perch:content id="photoImageSix" type="image" width="2000" label="Photo Image Six">" alt="<perch:content id="altSix" type="text" label="Image description">"
    sizes="100vw"
    srcset="<perch:content type="image" id="photoImageSix" width="2000" > 2000w,
    <perch:content type="image" id="photoImageSix" width="1500" > 1500w,
    <perch:content type="image" id="photoImageSix" width="1200" > 1200w,
    <perch:content type="image" id="photoImageSix" width="900" > 900w,
    <perch:content type="image" id="photoImageSix" width="600" > 600w" >
  </div>
</section>
<perch:template path="content/divider_svg.html"></perch:template>
