<section class="sprosser-videos-section">
    <div class="play-button-wrapper">
        <button class="play-button" aria-label="Play"></button>
        <button class="pause-button" aria-label="Pause"></button>
    </div>
        <video class="sprosser-video video-one" poster="<perch:content id="sprosserVideoPoster" type="image" label="Video Placeholder Image" required >">
            <source src="/video/sequence-one.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video muted class="sprosser-video video-two" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sequence-two.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video muted class="sprosser-video video-three" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sequence-three.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video muted class="sprosser-video video-four" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sequence-four.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
</section>