<section class="sprosser-videos-section">
    <!-- <img src="/images/video-player-icon.svg" alt="Video player icon" class="video-player-icon"> -->
    <button id="play-button" class="play-button" aria-label="Play"></button>
        <video preload="none" class="sprosser-video video-one" poster="<perch:content id="sprosserVideoPoster" type="image" label="Video Placeholder Image" required >">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video preload="none" class="sprosser-video video-two" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video preload="none" class="sprosser-video video-three" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>

        <video preload="none" class="sprosser-video video-four" poster="<perch:content id="sprosserVideoPoster" type="image">">
            <source src="/video/sproser.mp4" type="video/mp4">
            <!-- <source src="" type="video/ogv"> -->
            <!-- <source src="" type="video/webm"> -->
        </video>
</section>