<perch:before>
    <nav class="main-nav">
      <button class="main-nav-trigger menu-opener" id="menu-opener" >Menu</button>
      <button class="main-nav-trigger menu-closer" id="menu-closer" >Close</button>
      <div class="nav-inner-wrapper">
        <img class="main-nav-background-birds"
        alt=""
        srcset="/images/birds-background-images.png 1920w,
                /images/birds-background-images-small.png 1000w,
                /images/birds-background-images-tiny.png 600w"
            sizes="(max-width: 1000px) 90vw, (max-width: 1500px) 60vw, 40vw"
            rc="/images/birds-background-images-small.png">
        <ul class="main-nav-ul">
</perch:before>
        <li class="main-nav-li<perch:if exists="ancestor_page"> ancestor</perch:if>" id="<perch:if exists="current_page">main-nav-selected</perch:if>">
            <a class="main-nav-link" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>
        </li>
<perch:after>
        </ul>
      </div>
    </nav>
</perch:after>